
.login-form {
    width: 300px;
    margin: 0 auto;
    font-family: Tahoma, Geneva, sans-serif;
}
.login-form h1 {
    text-align: center;
    color: #4d4d4d;
    font-size: 24px;
    padding: 20px 0 20px 0;
}
.login-form input[type="password"],
.login-form input[type="text"] {
    width: 100%;
    padding: 15px;
    border: 1px solid #dddddd;
    margin-bottom: 15px;
    box-sizing:border-box;
}
.login-form input[type="submit"] {
    width: 100%;
    padding: 15px;
    background-color: #535b63;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
}

/* #profile {
    background-color: whitesmoke;
} */

li.gallery {
    text-align: center;
    list-style: none;
    float: left;
    width: 105px;
    height: 80px;
    margin: 10px;
}

.avatar-upload {
    position: relative;
    max-width: 205px;
    margin: 50px auto;
}
.avatar-upload .avatar-edit {
  position: absolute;
  right: 12px;
  z-index: 1;
  top: 10px;
}
.avatar-upload .avatar-edit input {
  display: none;
}
.avatar-upload .avatar-edit input + label {
  display: inline-block;
  width: 34px;
  height: 34px;
  margin-bottom: 0;
  border-radius: 100%;
  background: #FFFFFF;
  border: 1px solid transparent;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  font-weight: normal;
  transition: all 0.2s ease-in-out;
}
.avatar-upload .avatar-edit input + label:hover {
  background: #f1f1f1;
  border-color: #d6d6d6;
}
.avatar-upload .avatar-edit input + label:after {
  content: "\f040";
  font-family: 'FontAwesome';
  color: #757575;
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  text-align: center;
  margin: auto;
}
.avatar-upload .avatar-preview {
  width: 192px;
  height: 192px;
  position: relative;
  border-radius: 100%;
  border: 6px solid #F8F8F8;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}
.avatar-upload .avatar-preview > div {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#imgPop {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 10;
  opacity: 0.7;
  background-color: #002447;
  top: 0;
}

#img {
  top: -500;
  height: 250px;
  margin: auto;
}

.modalpop {
  border-width: 2px;
  border-style: solid;
  border-color: whitesmoke;
  border-radius: 5px;
  position: relative;
  padding: 20px;
  background: #fff;
  width: 500px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -400px;
  z-index: 1100;
}

.close {
  position: absolute;
  top: -15px;
  right: -15px;
  background: #fff;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  box-shadow: 6px 6px 29px -4px rgba(0, 0, 0, 0.75);
  cursor: pointer;
}

#popIcons {
  border-left-width: 3px;
  border-left-color: black;
  border-left-style: solid;
}

#popIcons li {
  float: left;
  list-style: none;
  margin-right: 5px;
}

#popIcons li img {
  width: 15px;
  height: 15px;
}

.side-links {
  list-style: none;
}

.greeting{
  margin-top: 60px;
}

.center {
  margin: auto;
  width: 30%;
  text-align: justify;
  padding: 30px;
}