<style>
    .bg {
        /* The image used */
        background-image: url("/public/img/rainbow.png");

        color: whitesmoke;
        /* Full height */
        height: 1000px;

        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .bg div{
        padding: 50px;
    }
</style>

<div class="bg">
    <div>
    <a href="/login" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Login</a>
    <a href="/signup" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Sign Up</a>
    </div>
</div>
  
