<div class="container">
  <div class="row">

    <div class="center">
		<h3>Login Form</h3>
		<form action="auth/" method="POST">
			<div class="form-group">
				<label for="exampleInputEmail1">Email address</label>
				<br />
				<input type="email" name="email" placeholder="Email" required>
				<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
			</div>
			<div class="form-group">
				<label for="exampleInputPassword1">Password</label>
				<br />
				<input type="password" name="password" placeholder="Password" required>
			</div>
			<button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
			<hr />
			<p>Not yet a member?</p>
			<a class="btn btn-secondary btn-lg btn-block" href="/signup" role="button">Register</a>
		</form>
	</div>

  </div>
</div>