<div class="container upgal">
    <div class="row">
        <div class="col-sm">
            <img src='https://picsum.photos/536/347' class="rounded" height="100" width="150"/>
        </div>
        <div class="col-sm">
            <img src='https://picsum.photos/536/348' class="rounded" height="100" width="150"/>
        </div>
        <div class="col-sm">
            <img src='https://picsum.photos/536/349' class="rounded" height="100" width="150"/>
        </div>
    </div>

    <div class="row">
        <div class="col-sm">
            <img src='https://picsum.photos/536/351' class="rounded" height="100" width="150"/>
        </div>
        <div class="col-sm">
            <img src='https://picsum.photos/536/352' class="rounded" height="100" width="150"/>
        </div>
        <div class="col-sm">
            <img src='https://picsum.photos/536/353' class="rounded" height="100" width="150"/>
        </div>
    </div>

    <hr />

    <form method="post" action="upload/proPicUpload" enctype="multipart/form-data">
        <div class="form-group">
            <label for="exampleFormControlFile1">Upload A Profile Pic</label>
            <input type="file" class="form-control-file" id="sticker" name="profilePic" accept="image/*">
        </div>
        <button type="submit" class="btn btn-primary mb-2">Upload Photo</button>
    </form>

</div>
<style>
    .upgal{
        margin-right: auto;
        margin-left: auto;
        border-left-color: aqua;
        border-left-style: solid;
        border-left-width: 1px;
    }
</style>

